@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

body{
  background-color: #121622 !important;
  color: white;
  font-family: Rajdhani,serif;
}

p{
  font-size: 18px;
  text-align: center;
  color: white;
}

button{
  z-index:100;
  position: relative;
  clip-path: inset(0% 0% 0% 0% round 0%);
  border-radius: 31px;
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  background-origin: border-box;
  background-clip: content-box,border-box;
  box-shadow: inset -213px 0px 1px rgba(0,0,0,1);
  background-image: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0)),linear-gradient(101deg,#12ab9e,#8d358b);
  margin: 18px 0 0 0;
  font-weight: 600;
  font-size: 25px;
  font-family: Rajdhani,serif;
  line-height: 30px;
  color: white;
  cursor: pointer;
  transition-property: width, box-shadow;
  transition: all 0.5s ease;
  transition-delay: width 0.3s;
}

button:hover{
  box-shadow: inset 2px 1000px 5px rgba(0,0,0,0.7) !important;
  transition: 0.5s !important;
}

#disclaimer, #disclaimerSettings{
  margin: 5px auto;
  padding-right: 10px;
  text-align:right;
}

.wrapper{
  display: flex;
}

.compounder{
  border-radius: 31px;
  display: inline;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 470px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f2330;
  max-width: 470px;
  width: 90%;
  min-width: 310px;
  text-align:center;
  transition: 0.5s;
}

.compounderShifted{
  border-radius: 31px 0 0 31px;
  display: inline;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 470px;
  top: 50%;
  left: 50%;
  /*border-right: solid 2px #12ab9e;*/
  transform: translate(-100%, -50%);
  background-color: #1f2330;
  max-width: 470px;
  width: 90%;
  min-width: 310px;
  text-align:center;
  transition: 0.5s;
}

#titleCheckBoxCointainer{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.advancedSettingsHidden{
  border-radius: 31px;
  display: inline;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 470px;
  height: 498px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f2330;
  max-width: 470px;
  width: 90%;
  min-width: 310px;
  text-align:center;
  transition: all 0.5s ease;
}

.advancedSettingsShowed{
  border-radius: 0 31px 31px 0;
  display: inline;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 470px;
  height: 498px;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  background-color: #1f2330;
  max-width: 470px;
  width: 90%;
  min-width: 310px;
  text-align:center;
  transition: all 0.5s ease;
}


.title{
  text-align: left;
  color: #fff;
  padding: 30px 20px 6px 35px;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
}

.elements{
  margin: 25px;
}

.option{
  max-width: 440px;
  width: 90%;
  font-weight: 500;
  font-size: 22px;
  line-height: 21px;
  padding: 10px;
  border-radius: 30px;
  margin: 5px auto;
  color: #fff;
  border: 1px solid transparent;
  background-image: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0)),linear-gradient(101deg,#12ab9e,#8d358b);
  background-origin: border-box;
  background-clip: content-box,border-box;
  box-shadow: inset 2px 1000px 1px #2c323f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputField{
  background: rgba(255,255,255,0.05);
  font-size: 20px;
  max-width: 25%;
  color: white;
  border: none;
  border-radius: 35px;
  text-align: right;
  margin: 5px;
  padding: 10px;
}
.inputField:focus{
  outline: 0;
}

#rangeInfo{
  display: inline;
}

.rangeInput{
  display: block !important;
}

.buttonContainer{
  left: 50%;
}

#progressBar{
  z-index:99;
  position: relative;
  background: white;
  opacity: 0.5;
  width: 0px;
  height: 55px;
  border-radius: 31px;
  left: 50%;
  bottom: 52.5px;
  transform: translate(-50%, 0);
  margin-left: 0;
  margin-right:0;
  padding:0;
  margin-bottom: -55px;
}

.resultButton{
  z-index:100;
  position: relative;
  clip-path: inset(0% 0% 0% 0% round 0%);
  border-radius: 31px;
  width: 213px;
  height: 50px;
  border: 3px solid transparent;
  background-origin: border-box;
  background-clip: content-box,border-box;
  box-shadow: inset -213px 0px 1px rgba(0,0,0,1);
  background-image: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0)),linear-gradient(101deg,#12ab9e,#8d358b);
  margin: 18px 0 0 0;
  font-weight: 600;
  font-size: 25px;
  font-family: Rajdhani,serif;
  line-height: 30px;
  color: white;
  cursor: pointer;
  transition-property: width, box-shadow;
  transition: all 0.5s ease;
  transition-delay: width 0.3s;
}
.resultButton:hover{
  box-shadow: inset 2px 1000px 5px rgba(0,0,0,0.7) !important;
  transition: 0.5s !important;
}

.textAreaContainerHidden{
  position: absolute;
  color: black;
  background: #1f2330;
  border-radius: 35px;
  border: solid 1px transparent;
  box-sizing: border-box;
  width: 100%;
  height: 0%;
  clip-path: inset(0% 0% 0% 0% round 0%);
  top: 60px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition-property: width, height, border;
  transition: all 0.5s ease;
}

.textAreaContainerShowed{
  position: absolute;
  color: black;
  background: #2c323f;
  border-radius: 35px;
  border: solid 1px white;
  box-sizing: border-box;
  clip-path: inset(0% 0% 0% 0% round 0%);
  width: 100%;
  height: 66%;
  top: 66px;
  overflow-x: hidden;
  overflow-y: auto;
  transition-property: width, height, border;
  transition: all 0.5s ease;
  
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.closeButton{
  z-index:100;
  position: relative;
  clip-path: inset(0% 0% 0% 0% round 0%);
  border-radius: 31px;
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  background-origin: border-box;
  background-clip: content-box,border-box;
  box-shadow: inset 2px 1000px 5px rgba(0,0,0,1);
  background-image: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0)),linear-gradient(101deg,#12ab9e,#8d358b);
  margin: 18px 0 0 0;
  font-weight: 600;
  font-size: 25px;
  font-family: Rajdhani,serif;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
  transition: width 0.5s ease;
  transition-delay: 0.3s;
}
.closeButton:hover{
  box-shadow: inset 2px 1000px 5px rgba(0,0,0,0.7) !important;
  transition: 0.5s !important;
}

#hamburgerButton{
  cursor: pointer;
  opacity: 0;
  transform: translateX(-85%);
  width: 40px !important;
  height: 40px !important;
}


.openAdvancedMode{
  position: relative;
  background: rgba(255,255,255,0.3);
  top:50%;
  left: 50%;
  transform: translate(0%, -450%);
  position: relative;
  clip-path: inset(0% 0% 0% 0% round 0%);
  border-radius: 31px;
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  background-origin: border-box;
  background-clip: content-box,border-box;
  box-shadow: inset 2px 1000px 5px rgba(0,0,0,1);
  background-image: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0)),linear-gradient(101deg,#12ab9e,#8d358b);
  margin: -50px 0 -50px 0px ;
  font-weight: 600;
  font-size: 24px;
  font-family: Rajdhani,serif;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.openAdvancedMode:hover{
   transform: translate(10%, -450%);
  box-shadow: inset 2px 1000px 5px rgba(0,0,0,0.7) !important;
   transition: box-shadow 0.5s ease;
   transition: transform 0.8s ease;
}


.openAdvancedModeShifted{
  position: relative;
  background: rgba(255,255,255,0.3);
  top:50%;
  left: 50%;
  transform: translate(940%, -450%);
  position: relative;
  clip-path: inset(0% 0% 0% 0% round 0%);
  border-radius: 31px;
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  background-origin: border-box;
  background-clip: content-box,border-box;
  box-shadow: inset 2px 1000px 5px rgba(0,0,0,1);
  background-image: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0)),linear-gradient(101deg,#12ab9e,#8d358b);
  margin: -50px 0 -50px 0px ;
  font-weight: 600;
  font-size: 24px;
  font-family: Rajdhani,serif;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
  transition: transform 0.3s ease;
}
.openAdvancedModeShifted:hover{
   transform: translate(930%, -450%);
  box-shadow: inset 2px 1000px 5px rgba(0,0,0,0.7) !important;
   transition: 0.5s ease !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#checkbox-container{
  position: relative;
  display: flex;
  width: 100%;
  height: 55px;
  justify-content: space-around;
}

#checkbox-text-wrapper{
  position: relative;
  display: flex;
  transform: translateY(25%);
}

#switch-text{
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  font-size: 20px;
}

#switch-label{
  position: absolute;
  right: 0%;
  top: 50%; 
  transform: translate(-50%,-50%);
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-image: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0)),linear-gradient(101deg,#12ab9e,#8d358b);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



@media only screen and (max-width: 1024px){
  .openAdvancedMode, .advancedSettingsHidden, .advancedSettingsShowed{
    display: none;
  }
  
  .compounder, .compounderShifted{
    transform: translate(-50%, -50%);
    border: none;
  }
}


